/* ==UserStyle==
@name         mangamtl.com
@version      20231025.04
@namespace    ?
==/UserStyle== */
@-moz-document domain("mangamtl.com") {
    /*

Customized Google Translate text for MangaMTL 

- Changed font to Playpen Sans
- Removed ugly ass gray background and added a white background
- Increased font size for bigger screens

*/
    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

    body > main > div > div > div > span.chapter {
        background: white !important;
        font-family: 'Playpen Sans', cursive !important;
        font-size: calc(3px + 1.5vw) !important;
    }

    @media (min-width: 990px) {
        body > main > div > div > div > span.chapter {
            font-size: calc(3px + 2vw) !important;
        }
    }

    .chapter font {
        background: white !important;
    }
}
